* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
}
footer {
  background: rgb(52, 145, 72);
  color: rgb(20, 15, 15);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  padding: 30px;
}
.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 17px;
}
.nav-links li:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
  font-family: serif;
}
.nav1 a img {
  height: 30px;
}
.nav1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.nav1 nav {
  display: flex;
  gap: 30px;
}

@media (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .nav2 {
    order: -1;
  }
}
@media (max-width: 448px) {
  body {
    font-size: 14px;
  }
}
